body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
    margin: auto;
    padding-left: 0%;
    padding-right: 0%;
    gap: 24px;
}

.container-one {
    background: #1F2937;
    
        
}

header {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    font-size: 18px;
    height: 36px;
    padding: 16px;
    gap: 8px;
    align-items: center;
    
    justify-content: space-between;
    background-color: #1F2937;
}


div.intro {
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    gap: 8px;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
}

.one {
    
    justify-content: flex-start;
    align-items: center;
}

 .intro .one .big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

div.quote {
    display: flex;
    flex-direction: column;
}

div.action {
    display: flex;
    background-color: #3882F6;
}

button {
    padding: 8px;
    flex-shrink: 0;
    margin: 0 auto;
    background-color: #3882F6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

li img {
    width: 100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

li {
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

li p {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.info .big {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

footer {
    background-color: #1F2937;
}