body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
    gap: 24px;
}

body div.container-one {
    background-color: #1F2937;
    display: block;
    margin: 0;
    width: 100%;
    box-sizing:content-box;
    flex-basis: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    font-size: 18px;
    height: 36px;
    padding: 16px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

div.left {
    margin-left: 0;
}

div.right a {
    margin-right: auto;
}

div.intro {
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    font-size: 18px;
    color: #E5E7EB;
    gap: 8px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    
    padding-left: 15%;
    padding-right: 15%;
}

body div.container-one div.intro div.one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

 .intro .one .big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

div.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}



body div.container-three div.quote p.author {
    font-weight: 900;
    font-size: 18px;
    padding-left: 50%;
}

div.action {
    display: flex;
    background-color: #3882F6;
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
    color: #F9FAF8;
}

div.action div.call p.big {
    font-weight: bold;
}

button {
    padding-left: 16px;
    padding-right: 16px;
    flex-shrink: 0;
    margin: 0 auto;
    background-color: #3882F6;
    align-self: center;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    color: #F9FAF8;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 16px;
    ;
}

li img {
    width: 100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-color: #3882F6;
    border-radius: 8px;
}

li {
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding-left: 16px;
}

li p {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 70%;
    
    flex-wrap: wrap;
}

.info .big {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

footer {
    background-color: #1F2937;
    padding: 0%;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

body div.container-three {
    background-color: #E5E7EB;
    display: flex;
    margin: 0;
    width: 100%;
    box-sizing: content-box;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}

button.signup {
    align-self: flex-start;
    justify-content: start;
    margin-left: 0;
    border-style: solid;
    border-color: #3882F6;
    border-color: none;
}

div.action button {
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-style:solid;
}